# 6. Working with Dictionaries
* A dictionary in Python is a collection of key-value pairs. 
* Each key is connected to a value, and you can use a key to access the value associated with that key.
* A keyâ€™s value can be a number, a string, a list, or even another dictionary.

* `Key` is the unique identifier to find data and the `value` is the data

* A dictionary is a collection which is ordered*, changeable and does not allow duplicates.

* Unlike strings, lists, and tuples, **dictionaries are not sequences** - the data are not stored in order. 
* List can be represented by [ ], Tuple can be represented by ( ), Dictionary  can be represented by { }

In [1]:
Dict={}
type(Dict)

dict

In [2]:
Dict1=dict()
type(Dict1)

dict

In [7]:
data={'Alabama':'Montgomery',
     'Arizona':'Phoenix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Colubus'}

### Access `values` from a dictionary using key
* Key and values can be any data types
* Accessing key value not present in dictionary generated KeyError

In [10]:
data['Ohio']

'Colubus'

In [11]:
data['Georgia']

'Atlanta'

In [ ]:
#generate a key error if the key is not present in the dictionary
# data['New York']

In [1]:
day={1: 'Monday',
    2: 'Tuesday',
    4: ('Thursday', 'Friday'),
    5: ['Saturday', 'Sunday']}

### Update elements of a dictionary and add new elements

In [2]:
#Thursday
day[4][0]  #day[key][index]

'Thursday'

In [3]:
#Sunday
day[5][1]

'Sunday'

In [4]:
day[3]='Wednesday'

In [5]:
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Saturday', 'Sunday'],
 3: 'Wednesday'}

### `get` and `update` methods

In [6]:
#Update Saturday to Holliday
day[5][0]='Holliday' #access then assign
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holliday', 'Sunday'],
 3: 'Wednesday'}

In [7]:
#Update Sunday to Holliday
day[5][1]='holliday'
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holliday', 'holliday'],
 3: 'Wednesday'}

In [9]:
#Update Thursday to holliday
#day[4][0]='holliday' #We cannot update a tuple
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holliday', 'holliday'],
 3: 'Wednesday'}

### 'get' and 'update' methods
- get use to access a value from dictionary
- Update the

### Delete dictionary items using `del` and `pop`

In [10]:
#Return Wednesday
day.get(3)

'Wednesday'

In [11]:
#Monday
day.get(1)

'Monday'

In [15]:
day.get(6) #Not generating an error if the key is not present in

In [14]:
#day[6] key error

In [16]:
day

{1: 'Monday',
 2: 'Tuesday',
 4: ('Thursday', 'Friday'),
 5: ['Holliday', 'holliday'],
 3: 'Wednesday'}

In [17]:
data={'Alabama':'Montgomery',
     'Arizona':'Phoenix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Colubus'}

In [19]:
#Update entry
data.update({'Kentucky':'Louisville'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Colubus'}

In [20]:
#New entry
data.update({'Loisiana':'Baton Rouge'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Louisville',
 'Ohio': 'Colubus',
 'Loisiana': 'Baton Rouge'}

In [21]:
data.update({'Missouri':'Jefferson City','Kentucky':'Frankfort'})
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Colubus',
 'Loisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [22]:
#delete Alabama using del method
del data['Alabama']
data

{'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Colubus',
 'Loisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [23]:
#Delete Ohio using pop
data.pop('Ohio')

'Colubus'

In [24]:
data

{'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Loisiana': 'Baton Rouge',
 'Missouri': 'Jefferson City'}

In [25]:
#Delete the dictionary
del data

In [27]:
#data  #name error because dictionary not present

### Number of elements in the dictionary and extracting `keys()`, `values()`, `items()`

In [28]:
data={'Alabama':'Montgomery',
     'Arizona':'Phoenix',
     'Georgia':'Atlanta',
     'Kentucky':'Frankfort',
     'Ohio':'Colubus'}

In [29]:
data.keys()

dict_keys(['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio'])

In [30]:
data.values()

dict_values(['Montgomery', 'Phoenix', 'Atlanta', 'Frankfort', 'Colubus'])

In [32]:
data.items()

dict_items([('Alabama', 'Montgomery'), ('Arizona', 'Phoenix'), ('Georgia', 'Atlanta'), ('Kentucky', 'Frankfort'), ('Ohio', 'Colubus')])

### Loop through a dictionary for

In [35]:
#unpack the dictionary keys
for i in data.keys():
    print(i)
    print(type(i))

Alabama
<class 'str'>
Arizona
<class 'str'>
Georgia
<class 'str'>
Kentucky
<class 'str'>
Ohio
<class 'str'>

In [36]:
#Unpack the dictionary values
for j in data.values():
    print(j)

Montgomery
Phoenix
Atlanta
Frankfort
Colubus

In [38]:
#Unpack the dictionary items
for k in data.items():
    print(k)
    print(type(k))

('Alabama', 'Montgomery')
<class 'tuple'>
('Arizona', 'Phoenix')
<class 'tuple'>
('Georgia', 'Atlanta')
<class 'tuple'>
('Kentucky', 'Frankfort')
<class 'tuple'>
('Ohio', 'Colubus')
<class 'tuple'>

In [40]:
#Unpack dictionary items
for j,k in data.items():
    print("state: ", j)
    print("capital: ", k)

state:  Alabama
capital:  Montgomery
state:  Arizona
capital:  Phoenix
state:  Georgia
capital:  Atlanta
state:  Kentucky
capital:  Frankfort
state:  Ohio
capital:  Colubus

### Convert dictionary to lists using `list()` function

In [41]:
data

{'Alabama': 'Montgomery',
 'Arizona': 'Phoenix',
 'Georgia': 'Atlanta',
 'Kentucky': 'Frankfort',
 'Ohio': 'Colubus'}

In [42]:
#Dictionary keys to a list 
list(data.keys())

['Alabama', 'Arizona', 'Georgia', 'Kentucky', 'Ohio']

In [43]:
#Values to a list
list(data.values())

['Montgomery', 'Phoenix', 'Atlanta', 'Frankfort', 'Colubus']

### A List in a Dictionary: How to unpack all of the entries?

In [45]:
fav_language={'Jen':['python', 'ruby'],
                    'Sarah':['c'],
             'Edward':['Ruby', 'java'],
             'Phil':['python','java']}

In [46]:
fav_language

{'Jen': ['python', 'ruby'],
 'Sarah': ['c'],
 'Edward': ['Ruby', 'java'],
 'Phil': ['python', 'java']}

In [51]:
for name, subjects in fav_language.items():
    print(f"The name is : {name.title()}. The favorite language are:")
    
    for i in subjects:
        print("\t\t\t\t\t\t",i)

The name is : Jen. The favorite language are:
						 python
						 ruby
The name is : Sarah. The favorite language are:
						 c
The name is : Edward. The favorite language are:
						 Ruby
						 java
The name is : Phil. The favorite language are:
						 python
						 java

###  A Dictionary in a Dictionary

In [52]:
user={'est':{
    'first':'Albert',
    'last':'Einstein',
    'location':'Prinston'
    
},
      'mcurie':{
          'first':'Marie',
          'last':'Curie',
          'location':'Paris'
      }
    
}

In [53]:
user

{'est': {'first': 'Albert', 'last': 'Einstein', 'location': 'Prinston'},
 'mcurie': {'first': 'Marie', 'last': 'Curie', 'location': 'Paris'}}

In [54]:
#Albert
user['est']['first']

'Albert'

In [55]:
#Paris
user['mcurie']['location']

'Paris'

In [62]:
#Keyword
for username, user_info in user.items():
    print("Username:",username)
    #print(user_info)
    full_name=user_info['first']+" " +user_info['last']
    print(f"full name: ",full_name)
    print("location: ",user_info['location'])

Username: est
full name:  Albert Einstein
location:  Prinston
Username: mcurie
full name:  Marie Curie
location:  Paris